.wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    background-color: azure;
    height: 100px;
}

.content {
    padding: 20px;
    margin-top: 20px;
    background-color: aliceblue;
}